# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.DS_Store
ads_thesis/unnamed-chunk-1_3934488913d24a2b94b74c88c35323d4.RData

# Do not ignore paper cache
!/mice_synthesizing/paper_cache
!/mice_synthesizing/paper_cache/html
!/Federated_imputation/mice_synthesizing/paper_cache/html/unnamed-chunk-6_f126a5f5bce2e63f6be4db0a5d7e1928.RData
!/manuscript/Manuscript_cache/latex/unnamed-chunk-6_560fcdc68de05385d995114a77c8f4af.RData
!/manuscript/Manuscript_cache/latex/
!/manuscript/Manuscript_cache/
